.git/*
env/
venv/
.venv
.venv/
sent_emails/
__pycache__/
*.py[cod]
keys.py

.idea
.DS_Store
.AppleDouble
.LSOverride
.vscode/
*.sublime-project
*.sublime-workspace

static/
posts/static/
media/

db.sqlite3
