<div class="card">
    <div class="card-body">
        <div class="h2">
            {{ profile.first_name }} {{ profile.last_name }}
        </div>
        <div class="h3 text-muted">
            {{ profile.username }}
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="h6 text-muted">
                Подписчиков: {{ profile.following.count }} <br/>
                Подписан: {{ profile.follower.count }}
            </div>
        </li>
        <li class="list-group-item">
            <div class="h6 text-muted">
                Публикаций: {{ count_posts }}
            </div>
        </li>
        <li class="list-group-item">
        {%if user.username != profile.username %}
            {% if following %}
                <a class="btn btn-lg btn-light"
                   href="{% url 'profile_unfollow' profile.username %}" role="button">
                    Отписаться
                </a>
            {% else %}
                <a class="btn btn-lg btn-primary"
                   href="{% url 'profile_follow' profile.username %}" role="button">
                    Подписаться
                </a>
            {% endif %}
        {% endif %}
    </li>
    </ul>
</div>