{% extends "base.html" %}
{% block title %} Избранные авторы {% endblock %}
{% load thumbnail %}
{% block content %}
 <main role="main" class="container">
    {% include "includes/menu.html" with follow=True %}
    <div class="table">
        <h1> Избранные авторы </h1>
        <!-- Вывод ленты записей -->
        {% for post in page %}
            {% include "includes/post_card.html" with post=post %}
        {% endfor %}
      <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator%}
        {% endif %}
    </div>
</main>
{% endblock %}